{% extends "base.html" %}

{% block body %}

    <div class="container">
      <h1>Snippets</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Tags</th>
          </tr>
        </thead>
        {% for s in snippets %}
        <tr>
          <td>{{ s.id }}</td>
          <td>{{ s.data }}</td>
          <td>
            {% for t in s.tags %}
            <span class="label label-info">{{ t.name }}</span>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
{% endblock -%}


