{% extends "base.html" %}

{% block body %}
    <div class="container">
      <h1>Snippets</h1>
      <table id="mainTable" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Details</th>
            <th>Tags</th>
            <th>Remove</th>
          </tr>
        </thead>
        {% for s in snippets %}
        <tr>
          <td>{{ s.id }}</td>
          <td><a class="editable-textbox"
                 href="#"
                 id="{{ s.id }}"
                 data-type="textarea"
                 data-url="/api/{{ s.id }}"
                 data-pk="{{ s.id }}" >{{ s.value }}</a>
          </td>
          <td>
            <a href="#">View details</a>
          </td>
          <td>
            {% for t in s.tags %}
            <a class="editable-tag"
               href="#"
               data-type="select2"
               data-value="{{ t.text }}"
               data-pk="{{ t.id }}"
               data-url="/api/tags/"
               data-title="Select tag">{{ t.text }}</a>
            {% endfor %}
          </td>
          <td class="deleterow" id="{{ s.id }}">
            <div class="glyphicon glyphicon-remove"></div>
          </td>
        </tr>
        {% endfor %}
      </table>
      <div class="container">
        <div class="container">
          <form id="snippetForm" class="form" action="">
            <input id="snippetText" type="text" name="snippet" placeholder="Insert snippet here" required />
            <select id="snippetTags" type="multi" name="tags">
              {% for t in tags %}
              <option value="{{ t.id }}">{{ t.text }}</option>
              {% endfor %}
            </select>
            <button id="snippetButton" class="btn" value="submit">Submit</button>
          </form>
        </div>
        {% block localjs %}
        <script src="static/js/main.js"></script>
        {% endblock %}
      </div>
    </div>
{% endblock -%}
